*{
  padding: 0px;
  margin:  0px;
}
body{
  background-color: #282c34;
}

.App {
  text-align: center;
}

.App-content {
  min-height: 72vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.Header-option{
  padding: 1vh;
}

.Button-option{
  padding: 1%;
  margin: 1%;
}

.Button-pag{
  flex-grow: 1;
  padding: 1%;
  margin: 1%;

}

.Buttons{
  width: 40%;
}

td, th {
  border: 1px solid #dddddd;
  padding: 8px;
}

table{
  width: 100%;
}

tr{
  height: 30%;
}

.Table-div1{
  width: 80%;
  height: 30vh;
}

.Table-div2{
  width: 80%;
  height: 50vh;
}


.Table-div3{
  width: 80%;
  height: 40vh;
}


.Table-div4{
  width: 80%;
  height: 30vh;
}

.addUserClass {
  width: 100%;
}

.addUserClass input,label {
  margin-right: 2%;
  
}

.addUserClass label {
  width: 40%;
  display: inline-block;
}

.addUserClass input {
  width: 50%;
}

.left {
  padding: 1em;
  text-align: left;
  width: 80%;
}

.right {
  padding: 1em;  
  width: 18%;
}

.parent {
  display: flex;
  overflow: hidden;
  border: 1px solid #333;
  align-items: center;
  width: 90%;
}

.bottonAdd{
  padding: 10%;
}

.editUserClass input{
  width: 50%;
}

input{
  text-align: center;
}